In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("bloodpressure.csv")
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [ ]:
df["bp_before"]

In [6]:
df["bp_before"].mean()  ## population mean

156.45

In [7]:
## draw samples

In [8]:
s1=df["bp_before"][0:40]
s1

0     143
1     163
2     153
3     153
4     146
5     150
6     148
7     153
8     153
9     158
10    149
11    173
12    165
13    145
14    143
15    152
16    141
17    176
18    143
19    162
20    149
21    156
22    151
23    159
24    164
25    154
26    152
27    142
28    162
29    155
30    175
31    184
32    167
33    148
34    170
35    159
36    149
37    140
38    185
39    160
Name: bp_before, dtype: int64

In [9]:
s1.mean()

156.25

In [10]:
# tha task is we have to reject tha claim or accept tha claim 0.05% of significance level

In [12]:
#pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\ad\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy>=1.17 in c:\users\ad\anaconda3\lib\site-packages (from statsmodels) (1.21.5)
Requirement already satisfied: scipy>=1.3 in c:\users\ad\anaconda3\lib\site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pandas>=0.25 in c:\users\ad\anaconda3\lib\site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: patsy>=0.5.2 in c:\users\ad\anaconda3\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\ad\anaconda3\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ad\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ad\anaconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ad\anaconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2021.3)
Requirement already satisfied: six in c:\users\ad\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from statsmodels.stats.weightstats import ztest

In [14]:
help(ztest)

Help on function ztest in module statsmodels.stats.weightstats:

ztest(x1, x2=None, value=0, alternative='two-sided', usevar='pooled', ddof=1.0)
    test for mean based on normal distribution, one or two samples

    In the case of two samples, the samples are assumed to be independent.

    Parameters
    ----------
    x1 : array_like, 1-D or 2-D
        first of the two independent samples
    x2 : array_like, 1-D or 2-D
        second of the two independent samples
    value : float
        In the one sample case, value is the mean of x1 under the Null
        hypothesis.
        In the two sample case, value is the difference between mean of x1 and
        mean of x2 under the Null hypothesis. The test statistic is
        `x1_mean - x2_mean - value`.
    alternative : str
        The alternative hypothesis, H1, has to be one of the following

           'two-sided': H1: difference in means not equal to value (default)
           'larger' :   H1: difference in means larger than value
           'smaller' :  H1: difference in means smaller than value

    usevar : str, 'pooled'
        Currently, only 'pooled' is implemented.
        If ``pooled``, then the standard deviation of the samples is assumed to be
        the same. see CompareMeans.ztest_ind for different options.
    ddof : int
        Degrees of freedom use in the calculation of the variance of the mean
        estimate. In the case of comparing means this is one, however it can
        be adjusted for testing other statistics (proportion, correlation)

    Returns
    -------
    tstat : float
        test statistic
    pvalue : float
        pvalue of the t-test

    Notes
    -----
    usevar not implemented, is always pooled in two sample case
    use CompareMeans instead.

In [16]:
df["bp_before"].std()

11.389845101166717

### one sample z test

In [ ]:
## sample mean is equal to population mean

In [23]:
zcal,pvalue=ztest(s1,value=156.45,alternative="two-sided")
print(zcal)
print(pvalue)

-0.11053202006485188
0.9119874571004282

In [25]:
if zcal>-1.96 and zcal<1.96:
    print("accept")
else:
    print("reject")

accept

In [21]:
if pvalue<0.05:
    print("reject")
else:
    print("accept")

accept

## two sample x test

In [28]:
s1=df["bp_before"][0:40]
s2=df["bp_after"][0:40]
print(s1)
print(s2)

0     143
1     163
2     153
3     153
4     146
5     150
6     148
7     153
8     153
9     158
10    149
11    173
12    165
13    145
14    143
15    152
16    141
17    176
18    143
19    162
20    149
21    156
22    151
23    159
24    164
25    154
26    152
27    142
28    162
29    155
30    175
31    184
32    167
33    148
34    170
35    159
36    149
37    140
38    185
39    160
Name: bp_before, dtype: int64
0     153
1     170
2     168
3     142
4     141
5     147
6     133
7     141
8     131
9     125
10    164
11    159
12    135
13    159
14    153
15    126
16    162
17    134
18    136
19    150
20    168
21    155
22    136
23    132
24    160
25    160
26    136
27    183
28    152
29    162
30    151
31    139
32    175
33    184
34    151
35    171
36    157
37    159
38    140
39    174
Name: bp_after, dtype: int64

In [29]:
s1.mean()

156.25

In [30]:
s2.mean()

151.85

In [31]:
zcal,pvalue=ztest(s1,s2,value=(156.45-151.85),alternative="two-sided")  ## value : signifiacne is 0
print(zcal)
print(pvalue)

-0.06530722440740258
0.9479293903808437

In [33]:
if pvalue<0.05:
    print("reject h0")
else:
    print("accept h0")

accept h0

### chi square test

In [41]:
df=sns.load_dataset("tips")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [42]:
dataset_table=pd.crosstab(df["sex"],df["smoker"]) # create obseration table
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

ho=there is no diff btw smoker and sex
ha=there is dif btw smoker and sex

In [44]:
import scipy.stats

In [47]:
val=scipy.stats.chi2_contingency(dataset_table)  # its returns value in tuples
val

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [ ]:
1.chi cal
2.p value
3.degree of freedom
4.expected value

## ANOVA TESt

In [50]:
df=sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
ho=no diffenece
ha=there is diff

In [52]:
df_anova=df[["petal_width","species"]]
df_anova

     petal_width    species
0            0.2     setosa
1            0.2     setosa
2            0.2     setosa
3            0.2     setosa
4            0.2     setosa
..           ...        ...
145          2.3  virginica
146          1.9  virginica
147          2.0  virginica
148          2.3  virginica
149          1.8  virginica

[150 rows x 2 columns]

In [54]:
df_setosa=df_anova[df_anova["species"]=="setosa"]["petal_width"]
df_virginica=df_anova[df_anova["species"]=="virginica"]["petal_width"]
df_versicolor=df_anova[df_anova["species"]=="versicolor"]["petal_width"]

In [55]:
df_setosa

0     0.2
1     0.2
2     0.2
3     0.2
4     0.2
5     0.4
6     0.3
7     0.2
8     0.2
9     0.1
10    0.2
11    0.2
12    0.1
13    0.1
14    0.2
15    0.4
16    0.4
17    0.3
18    0.3
19    0.3
20    0.2
21    0.4
22    0.2
23    0.5
24    0.2
25    0.2
26    0.4
27    0.2
28    0.2
29    0.2
30    0.2
31    0.4
32    0.1
33    0.2
34    0.2
35    0.2
36    0.2
37    0.1
38    0.2
39    0.2
40    0.3
41    0.3
42    0.2
43    0.6
44    0.4
45    0.3
46    0.2
47    0.2
48    0.2
49    0.2
Name: petal_width, dtype: float64

In [56]:
fcal,p=scipy.stats.f_oneway(df_setosa,df_virginica,df_versicolor)
fcal,p

(960.007146801809, 4.169445839443116e-85)

In [57]:
print(round(p,2))

0.0

In [58]:
if fcal<3.05:
    print("accept")
else:
    print("reject")

reject